<div class="map-container">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v12'"
    [zoom]="[15.5]"
    [center]="centro"
    [pitch]="[45]"
    [bearing]="[-17.6]"
    (mapLoad)="onLoad($event.target)"
    (mapClick)="onMapClick($event)"
  >
    <mgl-layer
      id="3d-buildings"
      source="composite"
      sourceLayer="building"
      [filter]="['==', 'extrude', 'true']"
      type="fill-extrusion"
      [minzoom]="15"
      [paint]="{
      'fill-extrusion-color': '#aaa',
      'fill-extrusion-height': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'height']
      ],
      'fill-extrusion-base': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'min_height']
      ],
      'fill-extrusion-opacity': 0.6
    }"
      [before]="labelLayerId"
    ></mgl-layer>

    <!-- GPS Marker -->
    @if (gps) {
    <mgl-marker [lngLat]="gps">
      <ion-img class="gpsMarker"></ion-img>
    </mgl-marker>
    }

    <!-- Init&End Marker -->
    @if (inicio) {
    <mgl-marker [lngLat]="inicio">
      <ion-img src="assets/icons/geo.svg" class="initMarker"></ion-img>
    </mgl-marker>
    } @if (destino) {
    <mgl-marker [lngLat]="destino">
      <ion-img src="assets/icons/geo.svg" class="endMarker"></ion-img>
    </mgl-marker>

    <!-- MeetPoint Marker -->
    } @if(isMeetPoint){
    <mgl-marker [lngLat]="meetPoint">
      <ion-img src="assets/icons/meet.svg" class="endMarker"></ion-img>
    </mgl-marker>
    

    } @if (routeSource) {
    <mgl-layer
      [id]="'routerLayer'"
      [type]="'line'"
      [source]="routeSource"
      [paint]="routePaint"
    >
    </mgl-layer>
    }
  </mgl-map>

  <ion-button class="gpsBtn" shape="round" (click)="getGPS()">
    <ion-icon slot="icon-only" src="assets/icons/crosshair.svg"></ion-icon>
  </ion-button>

  <!-- Card Principal -->
  <ion-card class="main">
    <ion-card-header>
      <ion-card-title>Viajes</ion-card-title>
    </ion-card-header>

    @if(this.user?.usrType !== 'driver'){
    <!-- Vista Pasajero -->

    <!-- Viaje Activo -->
    @if(activeTripFound){
    <ion-card class="viajeCard">
      <p>Tienes un Viaje Activo!</p>

      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <p>
              <span><ion-text color="medium">Nombre:</ion-text></span>
              {{viajeActivo.nombre}}
            </p>
            <p>
              <span><ion-text color="medium">Desde:</ion-text></span>
              {{viajeActivo.start.name}}
            </p>
            <p>
              <span><ion-text color="medium">Hasta:</ion-text></span>
              {{viajeActivo.end.name}}
            </p>
          </ion-col>

          <!-- Botones Viaje Activo -->
          <ion-col size="4">
            <ion-button
              size="small"
              color="tertiary"
              (click)="viewRouteBtn(
                  viajeActivo.start.longitude, viajeActivo.start.latitude, 
                  viajeActivo.end.longitude, viajeActivo.end.latitude, viajeActivo.id)"
            >
              <ion-icon src="assets/icons/search.svg"></ion-icon>
            </ion-button>
            <ion-button size="small" color="secondary" id="activeTripModal">
              <ion-icon src="assets/icons/info.svg"></ion-icon>
            </ion-button>
            <ion-button
              size="small"
              color="success"
              (click)="enableMeetMarker()"
            >
              <ion-icon src="assets/icons/geo.svg"></ion-icon>
            </ion-button>

            <!-- Modal Detalle Viaje Activo -->
            <ion-modal #modal trigger="activeTripModal">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Detalles del Viaje</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="modal.dismiss()">
                        Cerrar
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <!-- Info Viaje -->
                  <div class="seatContainer">
                    <!-- Fondo CarRef -->
                    <ion-img
                      src="assets/imgs/cartop.png"
                      class="seatRef"
                    ></ion-img>

                    <ion-card class="tripDetCard">
                      <p>
                        <span><ion-text color="medium">Nombre:</ion-text></span>
                        {{viajeActivo.nombre}}
                      </p>
                      <p>
                        <span><ion-text color="medium">Desde:</ion-text></span>
                        {{viajeActivo.start.name}}
                      </p>
                      <p>
                        <span><ion-text color="medium">Hasta:</ion-text></span>
                        {{viajeActivo.end.name}}
                      </p>
                      <p>
                        <span
                          ><ion-text color="medium">Conductor:</ion-text></span
                        >
                        {{viajeActivo.driver.name}}
                      </p>
                      <p>
                        <span><ion-text color="medium">Marca:</ion-text></span>
                        {{viajeActivo.driver.vehicle.brand + ' ' +
                        viajeActivo.driver.vehicle.model}}
                      </p>
                      <p>
                        <span><ion-text color="medium">Color:</ion-text></span>
                        {{viajeActivo.driver.vehicle.color}}
                      </p>
                      <p>
                        <span
                          ><ion-text color="medium">Patente:</ion-text></span
                        >
                        {{viajeActivo.driver.vehicle.licPlate}}
                      </p>
                    </ion-card>

                    <!-- Asientos -->
                    <!-- Mostrar solo botones que contengan el userId -->
                    <div class="seatContent">
                      <h6>- Asientos -</h6>
                      <ion-text color="medium">
                        <p>Selecciona uno para salir del viaje</p>
                      </ion-text>
                      <div class="seatBtn">
                        <ion-row>
                          <ion-col size="12">
                            <ion-button
                              shape="round"
                              disabled="true"
                              class="ion-padding"
                            >
                              Conductor
                            </ion-button>
                            <ion-button
                              class="ion-padding"
                              color="tertiary"
                              [disabled]="!activeSeat1"
                              (click)="openSheet(1)"
                            >
                              1
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </div>
                      <div class="seatBtn">
                        <ion-row>
                          <ion-col size="12">
                            <ion-button
                              class="ion-padding"
                              color="tertiary"
                              [disabled]="!activeSeat2"
                              (click)="openSheet(2)"
                            >
                              2
                            </ion-button>
                            <ion-button
                              class="ion-padding"
                              color="tertiary"
                              [disabled]="!activeSeat3"
                              (click)="openSheet(3)"
                            >
                              3
                            </ion-button>
                            <ion-button
                              class="ion-padding"
                              color="tertiary"
                              [disabled]="!activeSeat4"
                              (click)="openSheet(4)"
                            >
                              4
                            </ion-button>

                            <ion-action-sheet
                              header="Seguro que quieres salir del viaje?"
                              [buttons]="actionSheetBtns"
                              (ionActionSheetDidDismiss)="sheetAction($event)"
                            ></ion-action-sheet>

                            <!-- Agregarle Funcion del Service -->
                          </ion-col>
                        </ion-row>
                      </div>
                    </div>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        @if (!isMeetPoint) {
        <ion-text color="medium">
          <p>
            - Marca un Punto de Encuentro con
            <ion-icon slot="end" src="assets/icons/geo.svg"></ion-icon> -
          </p>
        </ion-text>
        }
      </ion-card-content>
    </ion-card>
    }@else if(!activeTripFound) {
    <!-- Vista Todos los Viajes -->
    <ion-content class="tripScroll">
      @for (viaje of viajes; track $index){
      <ion-card
        class="viajeCard"
        [ngClass]="{'selectedCard':selectedTripId === $index}"
      >
        <ion-row>
          <ion-col size="8">
            <h6 class="tripTitle">{{viaje.nombre}}</h6>

            <p class="txtWIcon">
              <ion-img
                class="txtIco initMarker"
                src="assets/icons/geo.svg"
              ></ion-img>
              Desde: {{viaje.start.name}}
            </p>

            <p class="txtWIcon">
              <ion-img
                class="txtIco endMarker"
                src="assets/icons/geo.svg"
              ></ion-img>
              Hasta: {{viaje.end.name}}
            </p>
          </ion-col>
          <ion-col size="4" class="ion-margin-top">
            <!-- Boton ViewRoute -->
            <ion-button
              color="tertiary"
              (click)="viewRouteBtn(viaje.start.longitude, viaje.start.latitude, viaje.end.longitude, viaje.end.latitude, $index)"
            >
              <ion-icon src="assets/icons/search.svg"></ion-icon>
            </ion-button>

            <!-- Boton Unirse -->
            <ion-button color="success" id="tripModal{{$index}}">
              <ion-icon src="assets/icons/join.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- Modal Detalles Viaje -->
        <ion-modal #modal trigger="tripModal{{$index}}">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Detalles del Viaje</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()"> Cerrar </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <!-- Info Viaje -->
              <div class="seatContainer">
                <!-- Fondo CarRef -->
                <ion-img src="assets/imgs/cartop.png" class="seatRef"></ion-img>

                <ion-card class="tripDetCard">
                  <p>
                    <span><ion-text color="medium">Nombre:</ion-text></span>
                    {{viaje.nombre}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Desde:</ion-text></span>
                    {{viaje.start.name}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Hasta:</ion-text></span>
                    {{viaje.end.name}}
                  </p>
                </ion-card>

                <!-- Asientos -->
                <div class="seatContent">
                  <h6>- Asientos -</h6>
                  <ion-text color="medium">
                    <p>Seleccione uno para unirse al viaje</p>
                  </ion-text>
                  <div class="seatBtn">
                    <ion-row>
                      <ion-col size="12">
                        <ion-button
                          shape="round"
                          disabled="true"
                          class="ion-padding"
                        >
                          Conductor
                        </ion-button>
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="joinToTrip(viaje.id,1,user!.id)"
                          [disabled]="viaje.seat1"
                        >
                          1
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                  <div class="seatBtn">
                    <ion-row>
                      <ion-col size="12">
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="joinToTrip(viaje.id,2,user!.id)"
                          [disabled]="viaje.seat2"
                        >
                          2
                        </ion-button>
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="joinToTrip(viaje.id,3,user!.id)"
                          [disabled]="viaje.seat3"
                        >
                          3
                        </ion-button>
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="joinToTrip(viaje.id,4,user!.id)"
                          [disabled]="viaje.seat4"
                        >
                          4
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-card>

      }
    </ion-content>
    } }@else if(this.user?.usrType === 'driver'){

    <!-- Vista Conductor -->
    <ion-content>
      @if(activeTripFound) {
      <ion-card class="viajeCard">
        <ion-row>
          <ion-col size="8">
            <h6 class="tripTitle">{{viajeActivo.nombre}}</h6>

            <p class="txtWIcon">
              <ion-img
                class="txtIco initMarker"
                src="assets/icons/geo.svg"
              ></ion-img>
              Desde: {{viajeActivo.start.name}}
            </p>

            <p class="txtWIcon">
              <ion-img
                class="txtIco endMarker"
                src="assets/icons/geo.svg"
              ></ion-img>
              Hasta: {{viajeActivo.end.name}}
            </p>
          </ion-col>
          <ion-col size="4" class="ion-margin-top">
            <!-- Boton ViewRoute -->
            <ion-button
              color="tertiary"
              (click)="viewRouteBtn(viajeActivo.start.longitude, viajeActivo.start.latitude, viajeActivo.end.longitude, viajeActivo.end.latitude, viajeActivo.id)"
            >
              <ion-icon src="assets/icons/search.svg"></ion-icon>
            </ion-button>

            <!-- Boton Info -->
            <ion-button color="secondary" id="tripModal{{viajeActivo.id}}">
              <ion-icon src="assets/icons/info.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- Modal Detalles Viaje -->
        <ion-modal #modal trigger="tripModal{{viajeActivo.id}}">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Detalles del Viaje</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()"> Cerrar </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <!-- Info Viaje -->
              <div class="seatContainer">
                <!-- Fondo CarRef -->
                <ion-img src="assets/imgs/cartop.png" class="seatRef"></ion-img>

                <ion-card class="tripDetCard">
                  <p>
                    <span><ion-text color="medium">Nombre:</ion-text></span>
                    {{viajeActivo.nombre}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Desde:</ion-text></span>
                    {{viajeActivo.start.name}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Hasta:</ion-text></span>
                    {{viajeActivo.end.name}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Conductor:</ion-text></span>
                    {{viajeActivo.driver.name}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Marca:</ion-text></span>
                    {{viajeActivo.driver.vehicle.brand + ' ' +
                    viajeActivo.driver.vehicle.model}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Color:</ion-text></span>
                    {{viajeActivo.driver.vehicle.color}}
                  </p>
                  <p>
                    <span><ion-text color="medium">Patente:</ion-text></span>
                    {{viajeActivo.driver.vehicle.licPlate}}
                  </p>
                </ion-card>

                <!-- Asientos -->
                <div class="seatContent">
                  <h6>- Asientos -</h6>
                  <ion-text color="medium">
                    <p>Seleccione uno para ver su Punto de Encuentro</p>
                  </ion-text>
                  <div class="seatBtn">
                    <ion-row>
                      <ion-col size="12">
                        <ion-button
                          shape="round"
                          disabled="true"
                          class="ion-padding"
                        >
                          Conductor
                        </ion-button>
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="getSeatLocation(viajeActivo.id,1)"
                          [disabled]="!viajeActivo.seat1Loc"
                        >
                          1
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                  <div class="seatBtn">
                    <ion-row>
                      <ion-col size="12">
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="getSeatLocation(viajeActivo.id,2)"
                          [disabled]="!viajeActivo.seat2Loc"
                        >
                          2
                        </ion-button>
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="getSeatLocation(viajeActivo.id,3)"
                          [disabled]="!viajeActivo.seat3Loc"
                        >
                          3
                        </ion-button>
                        <ion-button
                          class="ion-padding"
                          color="tertiary"
                          (click)="getSeatLocation(viajeActivo.id,4)"
                          [disabled]="!viajeActivo.seat4Loc"
                        >
                          4
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-card>
      }@else if(!activeTripFound){
      <ion-text color="medium" class="ion-padding">
        <p>- Crea un Viaje en la pestaña Viajes para Empezar -</p>
      </ion-text>
      }
    </ion-content>

    }

    <ion-toast
      [isOpen]="isToastOpen"
      [message]="msg"
      [duration]="4000"
      style="bottom: 50px"
    >
    </ion-toast>
  </ion-card>
</div>
