#map {
    height: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    border: 3px solid #fa0000; /* Opcional: para ver los límites del mapa */

}

.routeControl{
    margin: auto;
    display: flex;
    width: 90%;
}
