.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

mgl-map {
  height: 70%;
  width: 100%;
}

.gpsBtn {
  position: absolute;
  bottom: 0px;
  margin-bottom: 28vh;
  margin-left: 37vw;
  padding-bottom: 150px;
  z-index: 3;
}

.gpsMarker {
  border-width: 4px;
  border-radius: 100%;
  border-style: solid;
  border-color: var(--ion-color-primary);
  background-color: var(--ion-color-primary);
  padding: 2px;
}

.initMarker {
  border-width: 4px;
  border-radius: 100%;
  border-style: solid;
  border-color: green;
  background-color: green;
}

.endMarker {
  border-width: 4px;
  border-radius: 100%;
  border-style: solid;
  border-color: red;
  background-color: red;
}

.main {
  position: relative;
  height: 40%;
  width: 100%;
  bottom: 0px;
  margin: auto;
  padding-bottom: 50px;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}

.tripScroll {
  margin: auto;
}

.tripTitle {
  color: white;
}

.viajeCard {
  border: 1px solid gray;
  color: white;
}

.selectedCard {
  border: 3px solid #2e82c3;
  transition: all 0.1s ease-in-out;
}

.txtWIcon {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.txtIco {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.seatContainer {
  position: relative;
  text-align: center;
}

.tripDetCard {
  margin-top: 20px;
  padding: 10px;
  color: white;
}

.seatRef {
  position: absolute;
  opacity: 0.13;
  z-index: 1;
}

.seatContent {
  margin-top: 10px;
  position: relative;
  z-index: 3;
}

.seatBtn {
  margin-top: 50px;
}
