<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mapview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MapView</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Map View</h3>

  <div id="map"></div>

  <div class="routeControl">
    <ion-button (click)="addRoute()">
      Ruta
    </ion-button>
    <ion-button (click)="addCustomMarkers()">
      Add Markers
    </ion-button>
  </div>


</ion-content>