<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons slot="start">
        <ion-button routerLink="['/login']"
          ><ion-icon name="chevron-back-outline"></ion-icon>Volver
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"
        >Registro de Usuario</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="regForm" (submit)="regUser()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            [ngClass]="{'invalid': formValidError('name', 'required')}"
            type="text"
            formControlName="name"
          ></ion-input>
          @if (formValidError('name', 'required')) {
          <ion-text color="danger">
            <p>*Se requiere Nombre</p>
          </ion-text>
          }
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input
            [ngClass]="{'invalid': formValidError('lastname', 'required')}"
            type="text"
            formControlName="lastname"
          ></ion-input>
          @if (formValidError('lastname', 'required')) {
          <ion-text color="danger">
            <p>*Se requiere Apellido</p>
          </ion-text>
          }
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input
            [ngClass]="{'invalid': formValidError('email', 'required') || formValidError('email', 'email')}"
            formControlName="email"
          ></ion-input>
          @if (formValidError('email', 'required')) {
          <ion-text color="danger">
            <p>*Se requiere Correo Electrónico</p>
          </ion-text>
          } @else if (formValidError('email', 'email')) {
          <ion-text color="danger">
            <p>
              *Ingrese un formato válido.<br />
              Ej: correo&#64;ejemplo.com
            </p>
          </ion-text>
          }
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [ngClass]="{'invalid': formValidError('pass', 'required') ||formValidError('pass', 'minlength')}"
            type="password"
            formControlName="pass"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          @if (formValidError('pass', 'required')) {
          <ion-text color="danger">
            <p>*Se requiere Contraseña</p>
          </ion-text>
          }@else if (formValidError('pass', 'minlength')) {
          <ion-text color="danger">
            <p>*Contraseña debe ser de al menos 6 caracteres</p>
          </ion-text>
          }
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-select
              label="Tipo de Usuario"
              label-placement="floating"
              formControlName="usrType"
            >
              <ion-select-option value="driver">Conductor</ion-select-option>
              <ion-select-option value="passenger">Pasajero</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <div class="ion-text-center">
          @if (!registering) {
          <ion-button type="submit" [disabled]="regForm.invalid">
            Registrarse
          </ion-button>
          }@else if (registering) {
          <ion-button disabled>
            Registrando <ion-spinner name="circular"></ion-spinner
          ></ion-button>
          }
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-toast
    [isOpen]="isToastOpen"
    [message]='msg'
    [duration]="4000"
  ></ion-toast>
</ion-content>
