<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mapa de Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">Rutas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item>  
      <ion-select label="Seleccione Viaje" [(ngModel)] = "viajeSeleccionado">
          <ion-select-option [value]="viaje" *ngFor="let viaje of this.viajes">{{ viaje.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <br>
  <ion-button (click)="verRuta()" color="secondary" shape="round">
    Cargar Ruta
  </ion-button>
  <br>
  <div>Inicio: {{lugarInicio}} </div>
  <div>Destino: {{lugarDestino}}</div>
  <br>
  <div id="routeMap"></div>
  
  

</ion-content>
