<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tema</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Tema:</ion-label>
      <ion-select value="peperoni" placeholder="Seleccione un Tema">
        <ion-select-option value="light">Claro</ion-select-option>
        <ion-select-option value="dark">Oscuro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
</ion-content>
