<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Portada -->
  <ion-card>
    <ion-card-content>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Inicio de sesión
        </ion-card-title>
      </ion-card-header>  

    </ion-card-content>
    <br>
    <ion-card-content class="ion-text-center">
    
      <img alt="logoApp" src="assets/imgs/coche.png">  
        
    </ion-card-content>
    <br>
    <ion-card-content>
      <div class="fields">
        <ion-label>Usuario</ion-label>  
        <ion-input class="field" fill="solid" [(ngModel)]="userLoginModal.username"></ion-input>
        <br>
        <ion-label>Contraseña</ion-label>
        <ion-input class="field" fill="solid" [(ngModel)]="userLoginModal.password" type="password"></ion-input>
      </div>
      <br>
      <div class="ion-text-center">
        <ion-button color="success" (click)="userLogin(userLoginModal)">Acceder</ion-button>
      </div>
      
      <!-- <div class="ion-text-center">
        <br><br>
        ¿Aún no tienes cuenta?
        <br>
        <ion-button color="tertiary" (click)="goRegistro()">
          Registrate
        </ion-button>        
      </div> -->
    </ion-card-content>
    
    
  </ion-card>

</ion-content>

<!--
  Docs
  https://ionicframework.com/docs/angular/navigation
-->


