<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="configList">
    <ion-button expand="block" fill="clear" shape="round" [routerLink]="'/perfil'">
      Información Básica
    </ion-button>
    <ion-button expand="block" fill="clear" shape="round" [routerLink]="'/config'">
      Configuración
    </ion-button>
    <ion-button color="danger" expand="block" fill="clear" shape="round" (click)="logOut()">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
