<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="configList">
    <ion-button
      class="ion-margin"
      expand="block"
      shape="round"
      [routerLink]="'/perfil'"
    >
      Datos Personales
    </ion-button>
    <ion-button
      class="ion-margin"
      expand="block"
      shape="round"
      [routerLink]="'/config'"
    >
      Configuración
    </ion-button>
    <ion-button
      class="ion-margin"
      color="danger"
      expand="block"
      shape="round"
      (click)="logOut()"
    >
      Cerrar Sesión
    </ion-button>
  </div>

  <section class="version">
    <ion-text color="medium">
      <p>v1.0.0</p>
    </ion-text>
  </section>
</ion-content>
