<ion-content class="main">

  <ion-card-content class="header ion-text-center">
    <ion-card-header>
      <h1 class="appTitle"> TeLLevo App </h1>
    </ion-card-header>
    <ion-card-content class="logoImg">
      <img alt="logoApp" src="assets/imgs/coche.png" />
    </ion-card-content>
  </ion-card-content>

  <ion-card-content class="bodyContent">
    <div class="ion-text-center">
      
      <ion-button class="demoBtn" (click)="openDemoSheet()" color="tertiary" shape="round">
        Acceder al Demo
      </ion-button>

      <ion-action-sheet header="Ingresar como:" [buttons]="demoSheetBtns"
        (ionActionSheetDidDismiss)="demoSheetAction($event)"></ion-action-sheet>
    </div>
  </ion-card-content>

  <section class="footer">
    <ion-text color="medium" class="ion-text-center">
      <p>
        © <span>{{annio}}</span> TeLLevoApp by
        <a href="https://github.com/pabloomadd" target="”_blank”">pabloomadd</a>
      </p>
      <p>Todos los Derechos Reservados.</p>
    </ion-text>
  </section>
</ion-content>