ion-button {
  margin-top: 15px;
}

.header {
  margin-top: 30%;
}

.logoImg {
  margin-top: 50px;
}

.bodyContent {
  margin-top: 10%;
}

.demoBtn {
  margin-top: 20px;
}

.footer {
  margin-top: 100px;
}
