<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title class="ion-text-center"> TeLLevoApp </ion-card-title>
      </ion-card-header>
    </ion-card-content>
    <br />
    <ion-card-content class="ion-text-center">
      <img alt="logoApp" src="assets/imgs/coche.png" />
    </ion-card-content>
    <br />
    <ion-card-content>
      <form [formGroup]="logForm" (submit)="logIn()">
        <ion-item>
          <ion-input
            formControlName="email"
            type="text"
            label="Correo Electrónico"
            labelPlacement="floating"
            fill="solid"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="pass"
            type="password"
            label="Contraseña"
            labelPlacement="floating"
            fill="solid"
          ></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button
            color="success"
            type="submit"
            [disabled]="logForm.invalid"
          >
            Acceder
          </ion-button>
        </div>
      </form>

      <div class="ion-text-center">
        ¿Aún no tienes cuenta?
        <a [routerLink]="['/registro']">Regístrate</a>
        <br />
        <ion-button class="demoBtn" (click)="openDemoSheet()" color="primary">
          Acceder como Invitado
        </ion-button>

        <ion-action-sheet
          header="Ingresar como:"
          [buttons]="demoSheetBtns"
          (ionActionSheetDidDismiss)="demoSheetAction($event)"
        ></ion-action-sheet>
      </div>
    </ion-card-content>
  </ion-card>
  <section class="footer">
    <ion-text color="medium" class="ion-text-center">
      <p>
        © <span>{{annio}}</span> TeLLevoApp by
        <a href="https://github.com/pabloomadd" target="”_blank”">pabloomadd</a>
      </p>
      <p>Todos los Derechos Reservados.</p>
    </ion-text>
  </section>
</ion-content>
