<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title class="ion-text-center"> TeLLevoApp </ion-card-title>
      </ion-card-header>
    </ion-card-content>
    <br />
    <ion-card-content class="ion-text-center">
      <img alt="logoApp" src="assets/imgs/coche.png" />
    </ion-card-content>
    <br />
    <ion-card-content>
      <form [formGroup]="logForm" (submit)="logIn()">
        <ion-item>
          <ion-input
            formControlName="email"
            type="text"
            label="Correo Electrónico"
            labelPlacement="floating"
            fill="solid"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="pass"
            type="password"
            label="Contraseña"
            labelPlacement="floating"
            fill="solid"
          ></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button
            color="success"
            type="submit"
            [disabled]="logForm.invalid"
          >
            Acceder
          </ion-button>
        </div>
      </form>

      <div class="ion-text-center">
        <br /><br />
        ¿Aún no tienes cuenta?
        <br />
        <ion-button color="tertiary" [routerLink]="['/registro']">
          Registrate
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
