ion-content{

  #map {
    align-content: center;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: inline-flex;
      &.show-map{
    opacity: 1;
    }
  }
}




.controlAnim{
  padding-left: 5%;
    
} 

.buttAnim{
  font-size: smaller;
  
}

.ViajeView{
  border: 2px solid #ccc;
  font-size: medium;
}

.titulos{
  font-size: larger;
}

