<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Bienvenid&#64;!</h1>
  
  <h5>Mapa y Ubicación</h5>

  <!-- Navegacion Footer -->
  <ion-button class="ion-padding" color="success" shape="round">Ir a viajes</ion-button>
  <ion-button (click)="cerrarSesion()" class="ion-padding" color="warning" shape="round">Cerrar sesión</ion-button>
  <ion-button (click)="getCurrentLocation()" shape="round">GPS</ion-button>


  <div id="locationMap"></div>
</ion-content>