<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isDriver){
  <div class="butts ion-text-center">
    <!-- Crear Nuevo Viaje -->

    <ion-button id="open-modal" color="tertiary" shape="round">
      Crear Viaje
    </ion-button>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Crear Nuevo Viaje</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <form class="tripForm">
            <ion-item>
              <ion-label position="floating">Nombre del Viaje:</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Inicio:</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Destino:</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Conductor:</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <div class="creaBtn ion-text-center">
              <ion-button block color="primary" type="submit" [disabled]="true">
                Crear
              </ion-button>
            </div>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  }

  <!-- Viaje Activo -->
  @if (viajeActivo) {
  <div class="ion-text-center">
    <p>Tienes un Viaje Activo</p>
  </div>

  }

  <!-- Vista de Todos los Viajes -->
  <div class="trips">
    <ion-grid class="ion-text-center">
      <ion-row class="titulos">
        <ion-col>Nombre</ion-col>
        <ion-col>Inicio</ion-col>
        <ion-col>Destino</ion-col>
      </ion-row>
      @for (viaje of viajes; track $index){
      <ion-row class="tripInfo">
        <ion-col>{{ viaje.nombre }}</ion-col>
        <ion-col>{{ viaje.start.name }}</ion-col>
        <ion-col>{{ viaje.end.name }}</ion-col>
      </ion-row>
      }
    </ion-grid>
  </div>
</ion-content>
