<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Historial de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isDriver){
  <div class="butts ion-text-center">
    
    <!-- Crear Nuevo Viaje -->
    <ion-button id="open-modal" color="tertiary" shape="round">
      Crear Viaje
    </ion-button>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Crear Viaje</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <form class="tripForm" [formGroup]="tripForm" (submit)="createTrip()">
            <ion-item>
              <ion-label position="stacked">Nombre del Viaje:</ion-label>
              <ion-input
                [ngClass]="{'invalid': formValidError('nombre', 'required') || formValidError('nombre', 'minlength')}"
                type="text"
                formControlName="nombre"
              ></ion-input>
              @if (formValidError('nombre', 'required')) {
              <ion-text color="danger">
                <p class="dangerTxt">*Nombre es requerido</p>
              </ion-text>
              } @if (formValidError('nombre', 'minlength')) {
              <ion-text color="danger">
                <p class="dangerTxt">
                  *Nombre debe contener al menos 6 carácteres
                </p>
              </ion-text>
              }
            </ion-item>

            <!-- Lista de Lugares -->
            <ion-item>
              <ion-select
                label="Inicio:"
                labelPlacement="stacked"
                formControlName="start"
              >
                @for (ubi of ubis; track $index) {
                <ion-select-option [value]="ubi.id"
                  >{{ubi.name}}</ion-select-option
                >
                }
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select
                label="Destino:"
                labelPlacement="stacked"
                formControlName="end"
              >
                @for (ubi of ubis; track $index) {
                <ion-select-option [value]="ubi.id"
                  >{{ubi.name}}</ion-select-option
                >
                }
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Conductor:</ion-label>
              <ion-input
                type="text"
                formControlName="driver"
                [placeholder]="iDriver"
                [value]="iDriver"
                readonly
              ></ion-input>
            </ion-item>
            <div class="creaBtn ion-text-center">
              <ion-button
                block
                color="primary"
                type="submit"
                [disabled]="!tripForm.valid"
              >
                Crear Viaje
              </ion-button>
            </div>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  }

  <ion-text color="medium">
    <p>Aún no te has unido a un Viaje</p>
  </ion-text>
</ion-content>
